#main {
  height: 100vh;
  -webkit-box-flex: 0.8;
      -ms-flex: 0.8;
          flex: 0.8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: scroll;
}

#main #homepage {
  margin: 3rem 4rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-flex: 2.5;
      -ms-flex-positive: 2.5;
          flex-grow: 2.5;
  background: white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

#main #homepage #search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  padding: 10px;
  width: 100%;
  max-width: 35rem;
  border-radius: 15px;
  border: 1px solid black;
  outline: 0;
  font-size: 1em;
  margin: 1rem;
  margin-left: .2rem;
  margin-bottom: 3rem;
}

#main #homepage #search input {
  margin-left: 1rem;
  width: 100%;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: b;
  margin-right: 1rem;
  outline: 0;
  border: 0px solid transparent;
}

#main #homepage #search input:focus {
  outline-width: 0;
}

#main #homepage #toppanel {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "a c" "b .";
}

#main #homepage #toppanel p {
  margin: 0;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

#main #homepage #toppanel span {
  color: #a2a2a2;
  font-size: .7em;
  font-weight: 200;
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: b;
}

#main #homepage #toppanel #btn {
  color: gray;
  margin-left: auto;
  text-decoration: none;
  padding: 7px 15px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border: 1px solid #dadada;
  border-radius: 12px;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: c;
}

#main #homepage #toppanel #btn a {
  color: gray;
  text-decoration: none;
  margin-right: 1rem;
}

#main #homepage #secondpanel {
  margin: 4rem 0;
}

#main #homepage #secondpanel #grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

#main #homepage #secondpanel #grid p {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 30px;
  border-radius: 30px;
  -webkit-box-shadow: 0px 0px 3px 3px #cecece;
          box-shadow: 0px 0px 3px 3px #cecece;
  background-color: white;
}

#main #homepage #secondpanel #grid p span {
  margin-top: 30px;
  margin-bottom: 30px;
  color: black;
  font-size: 1.5em;
  font-weight: 500;
  display: block;
}

#main #homepage #secondpanel #grid p i {
  border-radius: 100%;
  background: #ebebeb;
  padding: 10px;
}

#main #homepage #secondpanel #grid p:nth-of-type(1) {
  color: #c7c1c1;
}

#main #homepage #secondpanel #grid p:nth-of-type(2) {
  color: blueviolet;
}

#main #homepage #secondpanel #grid p:nth-of-type(3) {
  color: #8c8c76;
}

#main #rightsidebar {
  margin: 30px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  background: black;
  color: white;
  border-radius: 30px;
}

#main #rightsidebar p {
  margin: 2em 2em;
}
/*# sourceMappingURL=Main.css.map */