
@media screen and (max-width: 40rem) {
    #sidebar {
        ul li {
            margin: auto;
            &:not(a > *) {
                display:none;
            }
        }
    }
    #btn {
        a {
            display: none;
        }   
    }
}